{% extends "socialnetwork/base.html" %}


{% block nav-links %}
    <a href="{% url 'login' %}" id="id_login_link">Login</a>
{% endblock %}


{% block content %}
    <h2 id="id_page_name">Register</h2>

    <form method="post" action="{% url 'register' %}">
        <div class="form-field">
            <label for="id_username">Username:</label>
            <input type="text" id="id_username" name="username" required>
        </div>
        <div class="form-field">
            <label for="id_password">Password:</label>
            <input type="password" id="id_password" name="password1" required>
        </div>
        <div class="form-field">
            <label for="id_confirm_password">Confirm:</label>
            <input type="password" id="id_confirm_password" name="password2" required>
        </div>
        <div class="form-field">
            <label for="id_email">E-mail:</label>
            <input type="email" id="id_email" name="email" required>
        </div>
        <div class="form-field">
            <label for="id_first_name">First Name:</label>
            <input type="text" id="id_first_name" name="first_name" required>
        </div>
        <div class="form-field">
            <label for="id_last_name">Last Name:</label>
            <input type="text" id="id_last_name" name="last_name" required>
        </div>
        {% csrf_token %}
        <button type="submit" id="id_register_button">Submit</button>
    </form>
   
    {% if form_errors %}
        <div class="errorlist">
            {% for error in form_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}






